repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-docstring-first
    -   id: check-json
    -   id: check-yaml
    -   id: name-tests-test
    -   id: debug-statements
    -   id: check-added-large-files
        args: [--maxkb=700]
    -   id: requirements-txt-fixer
    -   id: double-quote-string-fixer
    -   id: check-merge-conflict
-   repo: local
    hooks:
    -   id: check-views-match-tables
        name: check views match tables
        description: check that all views are up-to-date and match the tables
        entry: env DB_PROVIDER=postgresql+psycopg POSTGRES_USER= POSTGRES_PASSWORD= DB_HOST= PGPORT=5432 POSTGRES_DB= python -m bin.generate_view --only-show-diff
        language: python
        types: [python]
        files: ^app/models.py
        additional_dependencies:
            - sqlalchemy
            - psycopg[binary] > 3.2.0
-   repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
    -   id: flake8
        additional_dependencies:
            -   flake8-typing-imports==1.17.0
            -   flake8-comprehensions==3.17.0
            -   flake8-noqa==1.4.0
            -   flake8-timeout==2.0.0
            -   flake8-ban-utcnow==0.2.0
        args: [
            "--min-python-version=3.14",
            "--max-line-length=88",
            "--per-file-ignores=app/alembic/*/*.py:E501",
        ]
-   repo: https://github.com/hhatto/autopep8
    rev: v2.3.2
    hooks:
    -   id: autopep8
-   repo: https://github.com/jkittner/double-indent
    rev: 0.1.5
    hooks:
    -    id: double-indent
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v3.16.0
    hooks:
    -   id: reorder-python-imports
-   repo: https://github.com/asottile/add-trailing-comma
    rev: v4.0.0
    hooks:
    -   id: add-trailing-comma
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
    -   id: pyupgrade
        args: [--py313-plus]
-   repo: https://github.com/rtts/djhtml
    rev: '3.0.10'
    hooks:
      - id: djhtml
        exclude: ^bin/
      - id: djcss
        exclude: ^bin/
-   repo: https://github.com/rbubley/mirrors-prettier
    rev: "v3.8.1"
    hooks:
      - id: prettier
        args: [--prose-wrap, always, --print-width=88]
        types_or: [markdown, javascript]
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
    -   id: mypy
        additional_dependencies: [
            'alembic==1.18.3',
            'asgi-lifespan==2.1.0',
            'celery-types==0.24.0',
            'celery==5.6.2',
            'element-iot-api==1.0.2',
            'fastapi==0.128.1',
            'httpx==0.28.1',
            'pandas-stubs==2.2.3.250308',
            'psycopg[binary]==3.3.2',
            'pydantic==2.12.5',
            'sqlalchemy[mypy]==2.0.46',
            'sqlmodel==0.0.32',
            'thermal-comfort==1.1.5',
            'types-freezegun==1.1.10',
        ]
