services:
  db:
    container_name: db
    build:
      context: .
      dockerfile: Dockerfile.database
      args:
        PG_VERSION: 18
        ANGLE_AVG_VERSION: "0.1.2"
    volumes:
      - pgdata:/home/postgres/pgdata/data
    environment:
      # we need to set this, so ordering is case insensitive
      POSTGRES_INITDB_ARGS: "--locale=en_US.utf8"
      TIMESCALEDB_TELEMETRY: "off"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready --dbname=${POSTGRES_DB} --username=${POSTGRES_USER} || exit 1"]
      interval: 30s
      timeout: 30s
      retries: 5
      start_period: 30s

  app:
    user: nobody
    healthcheck:
      test: ["CMD-SHELL", "wget --spider http://localhost:5000/v1/healthcheck || exit 1"]
      interval: 30s
      timeout: 30s
      retries: 5
      start_period: 30s
    depends_on:
      - db

  redis:
    image: redis:latest
    container_name: redis
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping"]
      interval: 30s
      timeout: 30s
      retries: 5
      start_period: 30s

  celery:
    container_name: celery
    hostname: celery
    # we don't want any parallelism in parallel celery workers (prevent fork bomb)
    environment:
      OMP_NUM_THREADS: 1
    # we need access to the host directory for the rasters
    volumes:
      - ${DATA_DIRECTORY}:/usr/src/app/rasters
    healthcheck:
      test: ["CMD-SHELL", "celery -A app inspect ping || exit 1"]
      interval: 30s
      timeout: 30s
      retries: 5
      start_period: 30s
    depends_on:
      - redis

  celery-beat:
    container_name: celery-beat
    user: nobody
    depends_on:
      - redis

  terracotta-db:
    container_name: terracotta-db
    image: postgres:16-trixie
    volumes:
      # TODO: add properly tuned postgres conf
      - pgdata-terracotta:/var/lib/postgresql/data
    environment:
      # we need to set this, so ordering is case insensitive
      POSTGRES_INITDB_ARGS: "--locale=en_US.utf8"
      POSTGRES_DB: postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready --dbname=${TC_DATABASE_NAME} --username=${POSTGRES_USER} || exit 1"]
      interval: 30s
      timeout: 30s
      retries: 5
      start_period: 60s

  terracotta-server:
    user: nobody
    environment:
      TC_DRIVER_PATH: ${POSTGRES_USER}:${POSTGRES_PASSWORD}@${TC_DATABASE_HOST}/${TC_DATABASE_NAME}
    healthcheck:
      test: ["CMD-SHELL", "wget --spider http://localhost:5000/keys || exit 1"]
      interval: 30s
      timeout: 30s
      retries: 5
      start_period: 30s
    volumes:
      # the folder containing the rasters in read-only mode
      - ${DATA_DIRECTORY}:/usr/src/app/data/rasters:ro
    depends_on:
      - terracotta-db

  dashboard:
    image: ghcr.io/rubclim/data-2-resilience:latest
    user: nobody
    environment:
      BODY_SIZE_LIMIT: 2M
    healthcheck:
      test: ["CMD-SHELL", "wget --spider http://localhost:3000/de || exit 1"]
      interval: 30s
      timeout: 30s
      retries: 5
      start_period: 20s

  nginx:
    container_name: nginx
    build:
      context: .
      dockerfile: Dockerfile.nginx
    volumes:
      # cache directory for the raster tiles
      - nginx-cache:/var/cache/nginx/tiles
      # static directory
      - ${STATIC_DIRECTORY}:/usr/src/app/static:ro
    healthcheck:
      test: ["CMD-SHELL", "service nginx status || exit 1"]
      interval: 30s
      timeout: 30s
      retries: 5
      start_period: 60s
    depends_on:
      - app
      - terracotta-server
      - dashboard

volumes:
  nginx-cache:
  pgdata:
  pgdata-terracotta:
