asgi-lifespan
autodoc_pydantic
celery-types
covdefaults
coverage
freezegun
furo
httpx
locust
myst-parser
pandas-stubs
pydantic<2.10.0
pytest
pytest-randomly
sphinx
sphinx-autodoc-typehints
sphinx-copybutton
sphinx-sqlalchemy
sphinx-toolbox
trio
uv
