alembic
asgiref
celery[redis]
element-iot-api
fastapi
gunicorn
https://github.com/jkittner/titanlib/releases/download/intermediate-wheels/titanlib-0.3.4.dev3-cp313-cp313-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
jinja2
pandas
psycopg2-binary
psycopg[binary] > 3.2.0
pydantic<2.10.0
sentry_sdk[fastapi]
sqlmodel
terracotta>=0.8.6
thermal-comfort
uvicorn
uvicorn-worker
