alembic
asgiref
celery[redis]
fastapi
git+https://github.com/RUBclim/element-api@0.2.1
git+https://github.com/RUBclim/thermal-comfort@0.3.3
gunicorn
psycopg[binary] > 3.2.0
psycopg2-binary
pydantic<2.10.0
sentry_sdk[fastapi]
sqlmodel
git+https://github.com/DHI/terracotta@1ca54f1ba2e3b52d4a5f7ddc82dd9177a3c6910b
uvicorn
uvicorn-worker
